[user]
	email = zach@ploskey.com
	name = Zach Ploskey
[core]
	editor = vim
	abbrev = 12
[credential]
	helper = cache --timeout=7200
[pretty]
	fixes = Fixes: %h (\"%s\")
[push]
	default = simple
[sendemail]
	annotate = true
	smtpserver = mail.ploskey.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = zach
